{% extends 'base.html' %}
{% load static %}


{% block main %}
<!--   메인 섹션 (글 작성 페이지)   -->
<section class="main create_post">
    <form action="/create/" method="post" id="create_form" name="create_form">
        {% csrf_token %}
        writer: <input type="text" name="writer" id="writer">
        title: <input type="text" name="title" id="title">
        restaurant_name: <input type="text" name="restaurant_name" id="restaurant_name">
        content: <textarea name="content" id="content"></textarea>
        img: <input type="file" name="img" id="img">
        <button type="button" id="create_btn">작성</button>
    </form>
</section>
{% endblock %}


<!--   JS   -->
{% block js %}
    <script src="{% static 'csrf_token.js' %}"></script>
    <script src="{% static 'create.js' %}"></script>
{% endblock %}